### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-testera-oprogramowania index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-testowanie-oprogramowania oferta.html
RewriteRule cv-tester-oprogramowania cv.html
RewriteRule kontakt-tester kontakt.html