h1 {
    color: #84f0f0;
    background-color: #757878;
}

#description {
    background-color: #e6e6e6;
    opacity: 0.9;
}
.dog-img {
    opacity: 0.6;
}

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    
}

#description {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs2Cj1NWViO85VkxjMm-EZseonixXP9XCPEQ&usqp=CAU");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}   
