h1 {
    color: #84f0f0;
    background-color: #757878;
}

#description {
    background-color: #e6e6e6;
    opacity: 0.9;
}
.dog-img {
    opacity: 0.6;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2023/12/28/23/19/ai-generated-8475136_1280.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}