h1 {
    color: #84f0f0;
    background-color: #757878;
    border: 9px dashed blueviolet;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc {
    text-align: right;
}

h2 {
    border-bottom: 1px solid red;
    text-align: right;
}

#description {
    background-color: #e6e6e6;
    opacity: 0.9;
}
.dog-img {
    opacity: 0.6;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 60px;
}

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#description {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs2Cj1NWViO85VkxjMm-EZseonixXP9XCPEQ&usqp=CAU");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;

    margin-top: 10%;
    padding-top: 10%;
    padding-left: 3%;
    padding-right: 7%;
}   

.element {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

p.active {
    font-weight: 900;
    font-style: italic;
}