h1 {
    color: #84f0f0;
    background-color: #757878;
}

#description {
    background-color: #e6e6e6;
    opacity: 0.9;
}
.dog-img {
    opacity: 0.6;
}

body {
    background-image: url("../img/background.png");
}